:local(.panel) {
  width: 100%;
  max-height: 20%;
  margin-bottom: 5px !important;
}

@media (min-width: 700px) {
  :local(.panel) {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    min-height: 100%;
  }
}