/*:local(.statusPanel) {
  width: 100%;
  max-height: 20%;
  margin-bottom: 5px !important;
}

@media (min-width: 700px) {
  :local(.statusPanel) {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    min-height: 100%;
  }
}*/

:local(.channelsList) .panel-heading {
  padding: 0;
}

/* HEADER */
:local(.header) {
  cursor: pointer;
  padding: 10px 15px;
  text-align: center;
}

:local(.collapse) {
  float: left;
  color: black;
  font-size: 1.2em;
}

:local(.header) small {
  color: #888;
  font-size: 0.8em;
}